.customPreviewContainer {
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 24px;
}
.customPreviewContainer:hover {
  background-color: rgba(165, 166, 246, 0.1);
}
.customPreviewContainer.selected {
  background-color: rgba(165, 166, 246, 0.1);
}