.link_btn, .clear_btn {
  width: 215px;
  height: 48px;
  border-radius: 49px;
  border: none;
  color: #FFFFFF;
  background: #337DCF;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link_btn a {
  text-decoration: none;
  color: #FFFFFF;
}
.link_btn:hover, .clear_btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.customPreviewContainer {
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 24px;
}
.customPreviewContainer:hover {
  background-color: rgba(165, 166, 246, 0.1);
}
.customPreviewContainer.selected {
  background-color: rgba(165, 166, 246, 0.1);
}